<div class="box">
     
    <div class="imagen">
      <% if @recetum.foto? %>
        <%= link_to (image_tag (@recetum.foto.url(:small))), @recetum.foto.url %>
      <% end %>
    </div></br>

    <div class="titulo">
      <%= @recetum.titulo %>
    </div></br>

    <div class= "descripcion"> 
      <%= @recetum.descripcion %>
    </div></br>

    <div class= "ingredientes">
      <b>Ingredientes:</b></br></br>
      <%= @recetum.ingredientes %>
    </div>

    <div class="instrucciones">
      <b>Instrucciones:</b></br></br>
      <%= @recetum.instrucciones %>
    </div>

    <div class = "icons">
      <%= link_to (image_tag ("/system/receta/fotos/lapiz.svg")), edit_recetum_path(@recetum) %> 
    </div>
    <div class = "icons">
      <%= link_to (image_tag ("/system/receta/fotos/libro.svg")), receta_path %> 
    </div>


    <!--
    <div class = "icons">
      <%= link_to 'Categoría', categoria_path(@receta) %>
        <!-- ¿? Para ver la categoría a la que pertenece la receta: 
          action=> 'index', controller => 'categorium'
          categorium_receta
          receta#index
          categoria/:categorium_id/receta -->
    
    </div>

</div>
